---
import { getCollection } from "astro:content";
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("blog");
const pageTitle = "我的 Astro 学习博客";
const { BASE_URL } = import.meta.env;
---

<BaseLayout pageTitle={pageTitle}>
        <p>在这里，我将分享我的 Astro 学习之旅。</p>
        <ul>
            {allPosts.map((post: any) => <BlogPost url={`${BASE_URL}posts/${post.id}/`} title={post.data.title} />)}
        </ul>
</BaseLayout>
