---
const { BASE_URL } = import.meta.env;
---
<div id="main-menu" class="nav-links">
    <a href={`${BASE_URL}/`}>首页</a>
    <a href={`${BASE_URL}/about/`}>关于</a>
    <a href={`${BASE_URL}/blog/`}>博客</a>
    <a href={`${BASE_URL}/tags/`}>标签</a>
</div>